/*Especificidad: 001*/
body 
{
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  background-color: #ff9900;
  position: relative;
}

/*Especificidad: 001*/
h1 
{
  color: #ff9900;    
  background-color:#000000; 
  text-transform: uppercase;
  padding: 3em; 
  text-align:center;     
}

/*Especificidad: 001*/
h2
{
  text-align: center;     
  color: #ffed29;   
  background-color:rgb(62, 0, 206);
  text-transform: uppercase;
}

/*Especificidad: 001*/
h3
{
  text-align: center;     
  color: rgb(62, 0, 206);    
  background-color:#ffffff; 
}

/*Especificidad: 011*/
section:last-of-type{
  text-align: center;     
  color: rgb(0, 0, 0);    
  background-color: rgb(200, 218, 255);
  padding-bottom: 2%;
  padding-top: 1%;
}

/*Especificidad: 011*/
section:first-of-type{
  text-align: center;     
  color: rgb(0, 0, 0);    
  background-color: rgb(200, 218, 255);
  padding-bottom: 1%;
  padding-top: 0.5%;
}

/*Especificidad: 002*/
section>h4{
  text-transform: uppercase;
}

/*Especificidad: 001*/
table{
  margin-left: auto;
  margin-right: auto;
}

/*Especificidad: 001*/
th{
  border: 0.2em solid #ff9900;
  text-align: center;     
  padding: 0.1%;
  background-color: #fdcb5e;
  color: black;
}

/*Especificidad: 001*/
td{
  border: 0.2em solid #ff9900;
  text-align: center;     
  padding: 0.1%;
  background-color: #ffdc90;
  color: black;
}

/*Especificidad: 001*/
nav{
  text-align: center;
  background-color: #ff9900;
}

nav>a:hover {
    background-color: blueviolet;
}

/*Especificidad: 002*/
nav>a
{
  padding: 1em; 
  font-family: Tahoma, sans-serif;
  color: #ffffff;
  background-color:#2820a5; 
  text-transform: uppercase;
  text-align: center;     
  display: inline-block;
  margin: 1%;
}

/*Especificidad: 002*/
video, audio{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Especificidad: 001*/
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
}
  
/*Especificidad: 002*/
ul>li{
  color: #000000;
  margin-bottom: 0.2%;
  background-color: rgb(255, 226, 147);
}

/*Especificidad: 001*/
form{
  margin-left:25%;
  margin-right:25%;
  width: 50%;
}

/*Especificidad: 002*/
form>fieldset{
  margin-left: 20%;
  margin-right:55%;
  width: 50%;
}

/*Especificidad: 002*/
form>textarea{
  max-width: 30%;
  max-height: 20%;
  resize: none;
}

/*Especificidad: 001*/
footer{
  background-color: #ff9900;
  color: #000000;
  text-align: center;     
}

/*Especificidad: 003*/
form>fieldset>legend{
  text-align: center;     
}

/*Especificidad: 001*/
div {
    width: 30%;
    max-width: 100%;
    text-align: center;
    border: solid 0.2% #c2c2c2;
    padding-bottom: 0.2%;
    margin: auto;
    background: black;
}

input[type=file] {
    width: 75%;
    padding: 5% 8%;
    margin: 3% 0%;
    border: 1% solid silver;
    border-radius: 1%;
    text-align: left;
    color: #333;
    background: #ccc;
    margin-bottom: 5%;
    text-align: center;     
}

input[type=button] {
    background-color: orange;
    border: none;
    color: black;
    padding: 5% 20%;
    min-width: 21%;
    text-decoration: none;
    margin: 2% 1%;
    cursor: pointer;
}

input[type=button]:disabled {
    background: #F5F5F5;
    color : #C3C3C3;
}

input[type=button]:hover {
    background-color: lightgoldenrodyellow;
}

/*Especificidad: 001*/
label{
    color: orange;
}

/*Especificidad: 001*/
pre{
  background-color: black;
  color: cyan;
}
